name: harbor

on:
  push:
    branches: main

jobs:
  
  build:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Cache Docker layers
        uses: actions/cache@v3.0.1
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      
      - name: Login to harbor
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: harbor.cyverse.org
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      
      - name: Build and push latest
        id: docker_build_latest
        uses: docker/build-push-action@v2.6.1
        with:
          context: latest 
          file: latest/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: harbor.cyverse.org/vice/rstudio/verse:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Build and push v4.1.2
        id: docker_build_four_one_two
        uses: docker/build-push-action@v2.6.1
        with:
          context: 4.1.2
          file: 4.1.2/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: harbor.cyverse.org/vice/rstudio/verse:4.1.2
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
